body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.main {
  width: 100vw;
  height: 97vh;
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  width: 93vw;
  height: 43vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigbox {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box {
  background-color: salmon;
  width: 55%;
  height: 90%;
}

.right {
  background-color: white;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news {
  background-color: salmon;
  width: 100%;
  height: 30%;
}

.bigbox-bottom {
  width: 100%;
  height: 97%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  background-color: salmon;
  width: 90%;
  height: 35%;
}

.bottom {
  width: 90%;
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles {
  width: 14%;
  height: 100%;
  background-color: salmon;
  flex-basis: 1;
}
